[Unit]
Description=Independent GIT Timestamper (IGITT)
Documentation=https://igitt.ch
After=network.target

[Service]
ExecStart=/usr/local/sbin/igittd.py
User=igitt
Restart=always

[Install]
WantedBy=multi-user.target
