[Unit]
Description=IGITT server socket

[Socket]
# Only one ListenStream is supported right now
# ::1 is sometimes not configured
#ListenStream=[::1]:15177
ListenStream=127.0.0.1:15177
Accept=false
Service=igitt.service

[Install]
WantedBy=igitt.service
